[dev-packages]
ipython = "*"
black = "*"
bandit = "*"
flake8 = "*"
pyre-check = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
coverage = "*"
darglint = "*"
flake8-docstrings = "*"
sphinx = "*"
pre-commit = "*"

[packages]
stevedore = "*"
schema = "*"
ruamel-yaml = "*"
colorama = "*"

[pipenv]
allow_prereleases = true
